[*]
indent_style = tab
indent_size = 4
max_line_length = 79
# Many shell scripts have no extension
binary_next_line = true

[{Makefile,**.mk}]
indent_style = tab

[*.md]
max_line_length = 79
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
